*, html, body {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent;
    height: 10vh;
}

nav img {
    height: auto;
    width: auto;
    max-height: 72px;
    float: left;
    margin-top: 2em;
    margin-bottom: 2em;
}

.nav-item {
    display: flex;
    flex-direction: row;
}

.button {
    color: black;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    font-size: 3rem;
}