html, body {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #db92c9;
    background-image: url(./assets/wall.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}

header {
    color: white;
    display: block;
    position: fixed;
    left: 50%;
    margin: 0 auto;
}

aside {
    position: fixed;
    right: 5%;
    top: 5%;
}

.msg {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: red;
    font-size: 5rem;
}

h1 {
    font-size: 30px;
}

a, button.add {
    background: rgba(255,255,255,0.4);
    border: none;
    position: relative;
    display: block;
    outline: none;
    width: 100px;
    height: 30p;
    padding: 10px;
    color: white;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    text-decoration: none;
    text-align: center;
    font-size: 15px;

}

button.add {
    position: fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* cursor: pointer; */
    z-index: -999
}

.card {
    position: relative;
    left: 50px;
    height: 300px;
    width: 300px;
    padding: 10px;
    color: white;
    background: rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}